<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Courses</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/webjars/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    </head>

    <body>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Hours</th>
                </tr>
            </thead>
            <tbody th:each="course : ${courses}">
                <tr>
                    <th><span th:text="${course.name}">NAME</span></th>
                    <th><span th:text="${course.description}">DESCRIPTION</span></th>
                    <th><span th:text="${course.price}">PRICE</span></th>
                    <th><span th:text="${course.hours}">HOURS</span></th>
                </tr>
            </tbody>
        </table>

        <form action="#" th:action="@{/courses/addcourse}" th:object="${course}" method="post">
            <p>Name: <input type="text" th:field="*{name}"/> </p>
            <p>Description: <input type="text" th:field="*{description}"/> </p>
            <p>Price: <input type="number" th:field="*{price}"/> </p>
            <p>Hours: <input type="number" th:field="*{hours}"/> </p>
            <p><input type="submit" value="Submit"/> </p>
        </form>

        <div class="container">

            <a href="/login" class="btn btn-primary"><span class="fa fa-user"></span> SignIn</a>
            <a href="/logout" class="btn btn-danger">Logout <span class="fa fa-sign-out"></span> </a>
            <a href="/facebook" class="btn btn-primary">Facebook <span class="fa fa-facebook"></span> </a>       
            <a href="/google" class="btn btn-danger"> Google <span class="fa fa-google-plus"></span> </a> 
            <a href="/linkedin" class="btn btn-primary">LinkedIn <span class="fa fa-linkedin"></span> </a> 
        </div>
        <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
