<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Form Person</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <form action="#" th:action="@{/example3/addperson}" th:object="${person}" method="post">
            <p>NAME: <input type="text" th:field="*{name}"/> </p>
            <p>AGE: <input type="number" th:field="*{age}"/> </p>
            <p><input type="submit" value="Submit"/> </p>
            
        </form>
    </body>
</html>
